$size: 20px;
$fondo-de-color: rgba(0, 0, 0, 0.948);
$ancho: 100%;
$pink: #ed5b86;
$gris: #fdfdfdab(129, 247, 129);
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana, Geneva, Tahoma, sans-serif;
$alinear-al-centro: center;
$texto: azure;
