@import "../variables/variables";



@mixin planilla($animation) {

    border: #000000 3px solid;
    margin: 10px;
    background-image: url(../multimedia/imag/sss.jfif);
    font-size: 25px;
    animation: as;
    animation-duration: 8s;
    animation-delay: 5s;
    animation-iteration-count: infinite;

}

@mixin flexibilizar-centrar {
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(1, 3, 4);
    width: max-content;
    list-style: none;
    display: flex;
}

@mixin fuentes {
    font-family: $tipo-de-letra;
    line-height: 1.5;
    font-style: italic;
    font-weight: bold;
}

@mixin estilos-de-anclas {
    text-decoration: none;
    font-family: $tipo-de-letra;
    list-style: none;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


@mixin flex {
    background-color: $fondo-de-color;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin mixin-para-a-footer {
    text-decoration: none;
    margin: 40px;
    color: $texto;
    list-style: none;
    list-style: none;
}